<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script type='text/javascript' src='http://contentstorage.onenote.office.net/onenoteltir/immersivereadersdk/immersive-reader-sdk.0.0.1.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body class="body background-color-main">
    <main id='ContentArea' class="container p-5 content-area">
        <div id="BookmarksTab"></div>

        <section class='section content-wrapper' id='Sample1'>

            <!-- Display area -->
            <div class="main-content-box">
                <p id="text1" class="main-content">{{ text }}</p>

            </div>

            <p id="keyword1" visibility:hidden>{{ keywords }} </p>


            <div><div class="keyword-title-format">Keywords:</<div><div class="keyword-wrapper"><div id="outsideText"></div></div></div>

            <script>                
                let keywords = document.getElementById("keyword1").innerHTML;
                keywords = keywords.replace('[', '');
                keywords = keywords.replace(']', '');
                let myKeywords = keywords.split(',');
                let returnString = '';
                myKeywords = myKeywords.map((keyword) => {
                  return '<h1 class="keyword-parser">' + keyword + '</h1>';
                });
                myKeywords.forEach((keyString) => { returnString+=keyString });
                document.getElementById("outsideText").innerHTML = returnString;
            </script>

            <!-- Button for recording -->
            <div class="button-wrapper">
                <div class="button-inner-wrapper">
                    <div class="record-button-wrapper">
                        <form method="post" action="/">
                            <!-- <button type="submit" value="Record" name="Record" class="btn btn-primary record-button">
                                <img src="../static/images/microphone-icon-white.png">
                            </button> -->
                            <!-- Record Button -->
                            <button type="submit" value="Record" name="Record" onclick="toggleRecord()">
                                <div id="RecordButton">
                                    <div id="RecordIcon"></div>
                                </div>
                            </button>
                        </form>
                        <div class="RecordText">Start Recording</div>
                    </div>

                    <div class="clear-button-wrapper">
                        <form method="post" action="/">
                            <button type="submit" value="Clear" name="Clear" class="btn btn-warning clear-button">
                            <img src="../static/images/clear-icon-white.png">
                        </button>
                        </form>
                        <div class="clear-button-desc">Clear</div>
                    </div>

                    <div class="immersive-reader-button-wrapper">
                        <!-- Button for going into immersive reader -->
                        <button type="button" class='btn btn-success immersive-reader-button' role='button' onclick='handleLaunchImmersiveReader(1)'>
                        <img class='ir-button-icon' src='../static/images/icon.svg' width="70" height="70"/>
                    </button>
                        <div class="immersive-reader-button-desc">Immersive Reader</div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Bookmark Button -->
        <button onclick="toggleBookmarks()">
            <div id="BookmarksButton"></div>
        </button>


        <!-- Settings -->
        <button onclick="toggleSettings()">
            <div id="SettingsButton"></div>
        </button>

        <div id="SettingsTab">
            <p id="SettingsTabTitle">Settings</p>
            <div id="SettingsTabButtonList">
                <div class="SettingsTabButton">Account Settings</div>
                <div class="SettingsTabButton">Translation</div>
                <div class="SettingsTabButton">Import PDF</div>
            </div>
        </div>

    </main>

    <script type='text/javascript'>
        /* global $ */
        async function handleLaunchImmersiveReader(sampleId) {
            const data = {
                title: $('#title' + sampleId).text().trim(),
                chunks: [{
                    content: $('#text' + sampleId).text().trim(),
                    lang: 'en'
                }]
            };
            const token = await getImmersiveReaderTokenAsync();
            ImmersiveReader.launchAsync(token, data);
        }
        const loc = window.location.href;
        $('.navlink').removeClass('active');
        if (/index/.test(loc)) {
            $('.section-route').addClass('active');
        }
    </script>
</body>

</html>
