<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script type='text/javascript' src='http://contentstorage.onenote.office.net/onenoteltir/immersivereadersdk/immersive-reader-sdk.0.0.1.js'></script>
    <script src="/static/js/helpers.js"></script>
</head>
<body class="body">
<main id='ContentArea' class="container p-5">
<section class='section' id='Sample1'>
    <button class='ir-button ir-button-small' role='button' title='Immersive Reader' aria-label='Immersive Reader' onclick='handleLaunchImmersiveReader(1)'>
        <img class='ir-button-icon' src='/static/images/icon.svg' />
    </button>
    <h3 id='title1'>THIS IS WHERE THE TEXT APPEARS</h3>
    <form method="post" action="/">
                <input type="submit" value="Record" name="Record"/>
    </form>
    Text: {{ text }}
</section>
</main>

<script type='text/javascript'>
    /* global $ */
    async function handleLaunchImmersiveReader(sampleId) {
        const data = {
            title: $('#title' + sampleId).text().trim(),
            chunks: [{
                content: $('#text' + sampleId).text().trim(),
                lang: 'en'
            }]
        };

        const token = await getImmersiveReaderTokenAsync();
        ImmersiveReader.launchAsync(token, data);
    }

    const loc = window.location.href;
    $('.navlink').removeClass('active');
    if (/index/.test(loc)) {
        $('.section-route').addClass('active');
    }
</script>
</body>
</html>
