    .background-color-main {
    background-color: #F1ECED;
    height: 100vh !important;
    font-family: 'Open Sans', sans-serif;
}

.content-area {
    height: 100vh;
}

.main-content {
    font-size: 25px;
}

.button-wrapper {
    height: 150vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    vertical-align: bottom;
}

.record-button-wrapper {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.record-button {
    border-radius: 35px;
}

.record-button>img {
    width: 80px;
    height: 80px;
}

.record-button-desc {
    color: #2C3E50;
    font-size: 15px;
    font-weight: bold;
}

.clear-button-wrapper {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.clear-button {
    color: #C4C4C4;
    border-radius: 35px;
}

.clear-button>img {
    width: 80px;
    height: 80px;
}

.clear-button-desc {
    color: #2C3E50;
    font-size: 15px;
    font-weight: bold;